.header {
  padding: 18px 0;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 44px;
}

.logo {
  width: 38px;
  height: 38px;
}

.nav {
  flex: 1;
}

.list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.list__item {
  font-size: 16px;
}

.aut {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
}